html {
    font-family: Calibri, Arial;
    background-image: url("../img/bg.jpg");
}

body {
    /* background-color: lightgrey; */
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
}

main#container {
    width: 750px;
    margin: 0 auto;
    /* border-radius: 5px; */
}

.cards {
    width: 47%;
    display: inline-block;
    margin: 9px;
}

.card {
    width: 100%;
    margin: 9px;
}

.cards > .avatar {
    border-radius: 50%;
    width: 40%;
    margin: 10px;
    position: relative;
    top: 10px;
    left: 0;
}

.card > .character > .avatar {
    border-radius: 25%;
    width: 75%;
    margin: 10px;
    position: relative;
    top: 10px;
    left: 0;
}

.cards > .info {
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 5px;
}

.card > .character > .info {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 50px;
    width: 50%;
    margin: 0;
}

h1 {
    display: block;
    margin: 0;
    text-align: center;
}

i {
    width: 25px;
    text-align: center;
}

a {
    text-decoration: none;
}

.character {
    width: 30%;
    display: inline-block;
}

.bio {
    width: 65%;
    display: inline-block;
    position: relative;
    bottom: 50px;
    left: 0;
    text-align: justify;
}

.border { border-width: 1px; color: black; }
.solid { border-style: solid; }
.dashed { border-style: dashed; }