html {
    font-family: Calibri, Arial;
    background-image: url("../img/bg.jpg");
}

body {
    /* background-color: lightgrey; */
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
}

main#container {
    width: 750px;
    margin: 0 auto;
    /* border-radius: 5px; */
}

.cards {
    width: 47%;
    display: inline-block;
    margin: 9px;
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
}

.card {
    width: 100%;
    box-shadow: 10px 10px 20px black;
    border-radius: 0 0 25px 25px;
}

.cards > a > .avatar {
    border-radius: 50%;
    width: 40%;
    margin: 10px;
    position: relative;
    top: 10px;
    left: 0;
}

.card > .character {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    /* border-radius: 5% 5% 0 0; */
}

.card > .character > .avatar {
    border-radius: 50%;
    width: 15%;
    margin: 10px;
    position: relative;
    top: 0;
    left: 15px;
}

.cards > .info {
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 5px;
}

.card > .character > .info {
    display: inline-block;
    position: relative;
    bottom: 10px;
    left: 100px;
    width: 25%;
    margin: 0;
}

h1 {
    display: block;
    margin: 0;
    text-align: center;
}

.card > .character > .chosen {
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 30px;
    width: 40%;
}

.card > .character > .chosen > p > a:hover {
    text-decoration: underline;
    color: blue;
}

i {
    width: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.character {
    width: 30%;
    display: inline-block;
}

.bio {
    width: 100%;
    display: inline-block;
    /* position: relative; */
    /* bottom: 50px; */
    /* left: 0; */
    text-align: justify;
    background-color: white;
    border-radius: 0 0 25px 25px;
    border-top: 1px dashed black;
}

.bio > p {
    padding: 20px 0;
    width: 75%;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 15px;
}

.border { border-width: 1px; color: black; }
.solid { border-style: solid; }
.dashed { border-style: dashed; }
.bold { font-weight: bold; }